@page
@model IndexModel
@{
    ViewData["Title"] = "Dorisoy.Chat Client";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div style="margin-top: 250px;">
                <a class="btn btn-primary" style="font-size:16px; font-weight: 600;" href="/index.html">Go To Chat Page</a>
            </div>
        </div>
    </div>
</div>